.accordion {
<<<<<<< HEAD
    background-color: rgb(153, 49, 45);
    color: white;
=======
    background-color: white;
    color: #444;
>>>>>>> 4b0deade90121729a60da52f76879e42f0f47727
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    outline: 1px black solid;
    font-size: 15px;
    transition: 0.2s;
}

.active, .accordion:hover {
<<<<<<< HEAD
    background-color: rgb(194, 96, 75);
=======
    background-color: white;
>>>>>>> 4b0deade90121729a60da52f76879e42f0f47727
}

.panel {
    display: none;
    padding: 0 18px;
<<<<<<< HEAD
    background-color: rgb();
}

#google-search {
  margin-top: 10%;
  margin-left: 45%;
=======
    background-color: white;
    outline: 1px black solid;
}

#google-search {
  margin: 0 auto;
>>>>>>> 4b0deade90121729a60da52f76879e42f0f47727
}

#search {
  width: 30%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 33%;
  padding: 5px;
  text-align: center
}
